LMSGI04_1/exercici_1/cifp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- Lo defino cmo enumeración -->
  <xs:simpleType name="CicleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DAM"/>
      <xs:enumeration value="DAW"/>
      <xs:enumeration value="ASIX"/>
      <xs:enumeration value="SMX"/>
      <xs:enumeration value="SEIA"/>
      <xs:enumeration value="ER"/>
      <xs:enumeration value="AUT"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Lo defino cmo enumeración -->
  <xs:simpleType name="DepartamentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Informàtica"/>
      <xs:enumeration value="Electricitat"/>
      <xs:enumeration value="Automoció"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Defino un elemento tipo base ya que comparten campos. Luego lo extenderé -->
  <xs:complexType name="PersonaBaseType">
    <xs:sequence>
      <xs:element name="nom" type="xs:string"/>
      <xs:element name="llinatges" type="xs:string"/>
      <xs:element name="data_naixement" type="xs:string" minOccurs="0"/>
      <xs:element name="correu" type="xs:string" minOccurs="0"/>
      <xs:element name="telefon" type="xs:string" minOccurs="0"/>
      <xs:element name="adreça" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

  <!-- Defino el alumno que extiendo del elemento base y le añado sus propieades -->
  <xs:complexType name="AlumneType">
    <xs:complexContent>
      <xs:extension base="PersonaBaseType">
        <xs:sequence>
          <xs:element name="data_matricula" type="xs:string"/>
          <xs:element name="curs" type="CicleType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AssignaturaType">
    <xs:sequence>
      <xs:element name="nom_assignatura" type="xs:string"/>
      <xs:element name="data_inici" type="xs:string" minOccurs="0"/>
      <xs:element name="data_final" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id_assignatura" type="xs:integer" use="required"/>
    <xs:attribute name="cicle" type="CicleType" use="required"/>
  </xs:complexType>

  <!-- Defino el profesor que extiendo del elemento base y le añado sus propiedades -->
  <xs:complexType name="ProfessorType">
    <xs:complexContent>
      <xs:extension base="PersonaBaseType">
        <xs:sequence>
          <xs:element name="data_incorporació" type="xs:string"/>
          <xs:element name="departament" type="DepartamentType"/>
          <xs:element name="assignatura" type="AssignaturaType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Este es el elemento base -->
  <xs:element name="cifp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alumne" type="AlumneType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="professor" type="ProfessorType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
